@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic,latin-ext');
/* PARALLAX */

body {
  font-family: 'Caveat', cursive;
}

#preloader{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-color: #311620;
  z-index: 99;
  .svg_anm {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/preloader.gif) center center no-repeat;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


#nonparallax {
  background-image: url('../img/keyart-mobile-1.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: none;
  .parallax-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/parallax-text.PNG');
  }
}
.keyart, .keyart_layer {
  height: 1000px;
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
#keyart-0 {
  background-image: url('../img/parallax0.png');
  background-color: #ffaf1b;
}
#keyart-1 {
  background-image: url('../img/parallax1.png');
}
#keyart-2 {
  background-image: url('../img/parallax2.png');
}
#keyart-3 {
  background-image: url('../img/parallax3.png');
}
#keyart-4 {
  background-image: url('../img/parallax4.png');
}
#keyart-5 {
  background-image: url('../img/parallax5.png');
}
#keyart-6 {
 background-image: url('../img/parallax6.png');
}
#keyart-7 {
  background-image: url('../img/parallax7.png');
}
#keyart-8 {
  background-image: url('../img/parallax8.png');
}

#keyart-scrim {
  background-color: #ffaf00;
  opacity: 0;
}


#wrap {
  background-color: #210002;
}
.menu {
  position: fixed;
  z-index: 98;
  top: 0;
  width: 100%;
  line-height: 40px;

}

#top-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  //background: linear-gradient(45deg,
  //        rgba(214,113,45,1) 0%,
  //        rgba(232,139,67,1) 36%,
  //        rgba(248,181,0,1) 64%,
  //        rgba(250,230,103,1) 96%,
  //        rgba(250,230,103,1) 100%);

  //background: linear-gradient(to bottom, rgba(255,235,107,1) 0%,
  //        rgba(255,235,107,1) 4%,
  //        rgba(248,181,0,1) 36%,
  //        rgba(232,139,67,1) 64%,
  //        rgba(214,113,45,1) 100%);

  background: linear-gradient(to bottom, rgba(255,220,168,1) 0%,
          rgba(255,188,87,1) 36%, rgba(253,164,48,1) 64%, rgba(235,137,25,1) 100%);


  box-shadow: 0 0 17px 4px rgba(255,175,27,0.73);
  li .active:first-child a{
    color: white;
  }
  .active a {
    border-bottom: 3px solid #9d3c1b;

  }
  li {
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background: linear-gradient(to top, rgba(255,220,168,1) 0%,
              rgba(255,188,87,1) 36%, rgba(253,164,48,1) 64%, rgba(235,137,25,1) 100%);

    }
    a {
      color: #290104;
      //font-family: Pacifico, sans-serif;
      //font-family: 'Caveat', cursive;
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: center;
      -webkit-transition: .5s all ease-out;
      -moz-transition: .5s all ease-out;
      transition: .5s all ease-out;

    }
  }
}
.main-block {
  background-color: #210002;
  position: relative;
  z-index: 10;
  height: 100%;
  color: white;
  overflow: hidden;
  h1 {
    margin: 0 0 30px;
    font-weight: bold;
    //color: #ffaf00;
    color: rgb(206, 126, 9);
  }
  #about-you,
  #summary,
  #portfolio,
  #contacts {
    text-align: center;
    margin: 0 30px 100px;
  }

  #about-you {
    flex-wrap: wrap;
    figure {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .about-you-photo {
        box-shadow: 5px 5px 8px 0 #5d5353eb;
        border-radius: 20px;
        cursor: pointer;
        img {
          height: 350px;
          border-radius: 20px;
        }
        .curtain {
          background-color: #a7a49f;
          position: absolute;
          @extend img;
          width: 100%;
          left: 0;
          top: 0;
          opacity: 0.4;
          transition: 0.5s Ease;

        }
        &:hover .curtain {
          height: 0;
        }
      }

      figcaption {
        font-size: 35px;
        color: #a7a49f;
        padding-left: 30px;
        span {
          text-decoration:line-through;
        }
      }
    }
  }
  #summary {
    margin: auto 0;
    margin-bottom: 100px;
    background: linear-gradient(to bottom, rgba(33,0,2,1) 0%, rgba(163,0,14,1) 42%, rgba(153,2,14,1) 58%, rgba(33,0,2,1) 93%, rgba(33,0,2,1) 100%);
    p {
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
    }
    .skills {
      display: flex;
      justify-content: space-around;
      // align-items: center;
      margin-bottom: 30px;
      .list-skills {
        display: flex;
        flex-direction: column;
        font-size: 26px;
        li {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .block-loading {
        width: 40%;
        flex-direction: column;
        .progress {
          border-radius: 8px;
          height: 38px;
          .progress-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #881116;
            font-weight: 700;
          }
        }
      }
    }
    .experience {
      display: flex;
      justify-content: space-around;
      //flex-wrap: wrap;

      .study {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 44%;
        em {
          font-size: 40px;
          margin-bottom: 30px;
        }
        figure {
          margin-bottom: 30px;
          img {
            margin-bottom: 10px;
            width: 100%;
            border-radius: 10px;
            box-shadow: #3e333373 2px 2px 4px 3px;
          }
          p {
            font-size: 26px;
            margin-bottom: 0;
          }
        }

      }
      .work {
        @extend .study;
        ol {
          font-size: 26px;
          text-align: justify;
          margin-bottom: 0;
        }
      }
    }
  }
  #portfolio {
    font-size: 28px;
    p {
      margin-bottom: 30px;
    }
    .photo-work {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 20px;
      img {
        width: 100%;
        height: 350px;
        border-radius: 20px;
        border: 4px outset #b5b2b2;

      }
    }

    .block-work {
      position: relative;
      &:hover .text-hover {
        opacity: 1;
        padding-top: 50px;
        border-radius: 16px;
      }

      .text-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        padding-top: 15%;
        opacity: 0;
        transition: all .5s;
         p {
           font-size: 22px;
         }
      }
    }
  }
  #contacts {
    margin-bottom: 0;
    .contacts-block {
      .block-contacts-item {
        display: flex;
        justify-content: center;
        font-size: 30px;
        flex-direction: column;
        padding-bottom: 20px;
        p {
          text-decoration: underline;
        }

        .contacts-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          a {
            color: #ffbd5d;
          }
        }
      }

    }
  }

}
#top {
  position: fixed;
  z-index: 11;
  right: 25px;
  bottom: 90px;
  cursor: pointer;
  display: none;

}
footer {
  position: relative;
  z-index: 10;
  background: linear-gradient(to bottom, #210002 0%, #c14e0a 55%, #ff9800 100%);
  line-height: 80px;

  .footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 10px 0;
      font-size: 24px;
      text-align: center;
      color: #d4bebe;
      padding: 0 20px;

    }
  }


}




@media (max-width: 1024px) {
  .main-block #portfolio .photo-work img{
    height: 300px;
  }

}

@media (max-width: 768px) {
  .main-block #portfolio .photo-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {

}


//@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
//  #keyart-0 {
//    background-image: url('../img/parallax0.png');
//    background-color: #ffaf1b;
//  }
//  #keyart-1 {
//    background-image: url('../img/parallax1.png');
//  }
//
//  #keyart-2 {
//    background-image: url('../img/parallax2.png');
//  }
//  #keyart-3 {
//    background-image: url('../img/parallax3.png');
//  }
//  #keyart-4 {
//    background-image: url('../img/parallax4.png');
//  }
//  #keyart-5 {
//    background-image: url('../img/parallax5.png');
//  }
//  #keyart-6 {
//    background-image: url('../img/parallax6.png');
//  }
//  #keyart-7 {
//    background-image: url('../img/parallax7.png');
//  }
//  #keyart-8 {
//    background-image: url('../img/parallax8.png');
//  }
//}

